.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
  position: relative;
  padding-left: 12em;
}


nav {
  border-right: 2px solid #bcc4bc;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 150px;
  background-color: lightgray;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  border-bottom: 2px solid #bcc4bc;
  padding: 2px 15px;
}

nav a {
  text-decoration: none;
  color: black;
  padding-bottom: 1em;
}

nav a:hover {
  color: gray;
}
